@model FormBuilder.FormInfo
@{
    ViewBag.Title = "Home Page";
}

<style>
    .button-icon-right
    {
        display: none;
    }
    .entrydate-error
    {
        color:red;
    }
    .alert-success
    {
        display:none ;
    }
</style>



<div class="row">
    
    <div class="col-md-12">
        
        <div class="container-fluid style="margin-bottom:20px;">
            <h2>Form Name: @Model.FormTitle</h2>
            <div class="row">
                @*<div class="form-group input-group-sm">
                @Html.LabelFor(model => model.DropOffDate)
                @Html.TextBoxFor(model => model.DropOffDate, new { @class = "form-control", placeholder = "Enter Drop-off date here..." })
                @Html.ValidationMessageFor(model => model.DropOffDate)
            </div>*@
                <div class="col-md-3">
                    <label for="" class="col-form-label">Date</label>
                    <span class="entrydate-error">*</span>
                    <input id="entrydate" type="text" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="" class="col-form-label">Patient</label>
                    <select id="patient" class="form-control">
                        <option value="0">Select....</option>
                        @{
                            foreach (var patient in ViewBag.Patients)
                            {
                                <option value="@patient.Id">@patient.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="" class="col-form-label">Doctor</label>
                    <select id="doctor" class="form-control">
                        <option value="0">Select....</option>
                        @{
                            foreach (var doctor in ViewBag.Doctors)
                            {
                                <option value="@doctor.Id">@doctor.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="" class="col-form-label">Appoinment Date</label>
                    <select id="appointment" class="form-control">
                        <option value="1">08/11/2020</option>
                        <option value="2">08/12/2020</option>
                    </select>
                </div>
            </div>

        </div>
        <div>
            <div class="page-content">
                <div class="container-fluid">
                    <div id="formio"></div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/ecmascript">
        $(document).ready(function () {
            var currentDate = new Date();
            $("#entrydate").datepicker().datepicker("setDate", new Date());

            ViewForm(@Model.Id, '@HttpUtility.HtmlDecode(Model.FormJSON)');

            var value = '@Model.IsDisable';
            console.log(value);

            var isLocked = '@Model.IsLocked';

            if(value == 'True')
            {
                $(".btn.btn-primary").hide();
            }
            
            if(isLocked == 'True')
            {
                $(".btn.btn-primary").show();
            }
            else
            {
                $(".btn.btn-primary").hide();
            }
        });
    </script>
}
